extends layout.pug
block content
    div.app--tweet
        form
            div.circle--fluid
                div.circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
                    div.app--avatar(style='background-image: url(/static/images/m-spore.png)')
                        img(src="/static/images/m-spore.png")
            textarea.circle--textarea--input(placeholder="What's happening?")#tweet-textarea
            strong.app--tweet--char#tweet-char 140
            div.circle--fluid--cell.align-bottom
                button.button-primary Tweet
            div.bounds.app--body
                div.app--section--header
                    div.grid-33
                        div.app--section--heading
                            h2 Timeline
                    div.grid-33
                        div.app--section--heading
                            strong 129
                            h2 Following
                    div.grid-33
                        div.app--section--heading
                            h2 Direct Messages
                    include ./partials/_tweet.pug
                    include ./partials/_followers.pug
                    include ./partials/_messages.pug