div.grid-33
    div.app--section
        ul.app--user--list
            li
                div.circle--fluid
                    div.circle--fluid--cell.circle--fluid--primary
                        a.app--tweet--author
                            div.app--avatar(style="background-image: url(/static/images/f-spore.png)")
                                img(src="/static/images/f-spore.png")
                            h4 Jill Spore
                            p @jillspore
                    div.circle--fluid--cell
                        a.button.button-text Unfollow

