div.grid-33
    div.app--section
        ul.app--message--list
            li
                h3 Conversation with
                    a Jill Spore
                ul.app--message--conversation
                    li.app--message
                        div.app--avatar(style="background-image: url(/static/images/f-spore.png)")
                            img(src="/static/images/f-spore.png")
                        p.app--message--text How are things?
                        p.app--message--timestamp 3 hours ago

